{% extends "base.html" %}
{% block content %}

<div style="text-align: center;">
    <h1>Register Get it Done</h1>
    <form method="post" action="/register">
    <div class="form-group">
        <label>Email
            <input class="form-control" name="email" type="email" value="{{email}}" />
        </label>
        <!-- <p class="error" th:errors="${registerFormDTO.username}"></p> -->
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" name="password" type="password" />
        </label>
        <!-- <p class="error" th:errors="${registerFormDTO.password}"></p> -->
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" name="verify" type="password" />
        </label>
    </div>
    
    <input type="submit" class="btn success btn-round" value="Register"/>
    </form>
    </div>
    <div class="sidebar-wrapper">
        <ul style="text-align: center;" class="nav">
            <li class="nav-item ">
                <a style="text-align: center;" class="btn success btn-round" href="/login">Back To Login</a>
            </li>
        </ul>
    </div>
    {% endblock %}
    </body>
    </html>